{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<main>
  <div class="container py-5">
    <div class="card">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Ya - это место, где ты можешь создавать публикации на различные темы и делиться ими со всем миром!</p>
          <footer class="blockquote-footer"><cite title="Source Title">Охновский А.С.</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</main>
{% endblock %}